@import "~materialize-css/dist/css/materialize.css";

@font-face {
  font-family: "DM Sans";
  src: url("./fonts/DM_Sans/DMSans-Medium.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "DM Sans";
  word-wrap: break-word;
}

button,
input, textarea {
  font-family: "DM Sans";
  display: flex;
  align-items: center;
}

svg {
  cursor: pointer;
}

a {
  color: #000;
}

img {
  object-fit: cover !important;
}

i, button {
  cursor: pointer;
}
