.row {
  display: grid;
  grid-template-columns: 8fr 4fr;
  padding: 30px 35px;
  gap: 30px;
  color: #000;
}

.collection {
  .image {
    img {
      height: 70vh;
      width: 100%;
    }
  }

  .content {
    padding: 20px 0;

    &__text {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;

      .title {
        font-size: 20px;
      }
    }

    &__navbar {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      margin: 10px 0;
      padding-bottom: 10px;
      border-bottom: 2px solid rgb(245, 245, 245);

      &_date {
        font-size: 14px;
        color: rgb(150, 150, 150);
      }

      &_likes {
        display: flex;
        justify-content: space-between;
        gap: 25px;

        div {
          display: flex;
          align-items: flex-start;
          gap: 5px;
        }
      }
    }

    .footer {
      display: grid;
      grid-template-columns: 1fr 11fr;
      padding-bottom: 10px;

      img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
      }

      .content {
        padding-top: 5px;

        &_item {
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding-bottom: 15px;
          font-size: 13px;
        }

        &_text {
          display: flex;
          flex-direction: column;
          justify-content: center;
          color: rgb(150, 150, 150);

          b {
            color: #000;
            font-size: 16px;
          }
        }

        &_description {
          line-height: 26px;
        }
      }
    }
  }
}
